@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import 'colors';
@import 'animations'; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
}

html{
    font-size: 62.5%;
}

.stop-scroll{
    height: 100vh;
    overflow: hidden;
}

nav{
    .mobile{
        &__bar{
            display: flex;
            justify-content: space-between;
            height: 8vh;
            width: 100%;
            background-color: $additional;
            .logo{
                p{
                    font-size: 2rem;
                    line-height: 8vh;
                    color: $primary;
                    padding-left: 1rem;
                    span{
                        // color: $secondary;
                        position: relative;
                    }
                }
                span::after{
                    content: '';
                    background-color: $primary;
                    position: absolute;
                    width: 60%;
                    height: 2px;
                    right: -1rem;
                    bottom: 0;
                }
            }
            .burger{
                display: flex;
            }
        }

        &__items{
            width: 100%;
            height: 92vh;
            position: absolute;
            z-index: 1;
            background-color: $additional;
            font-size: 4rem;
            display: flex;
            transform: translateX(-100%);
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            transition: .3s ease;
            .item{
                text-decoration: none;
                color: $primary;
            }
        }
        .active{
            transform: translateX(0);
        }
    }
    .desktop{
        display: none;
    }
}

.first{
    &__pair{
        .img{
            height: 50vh;
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .text{
            padding: 5rem 3rem;
            background-color: #000;
            color: white;
            h2{
                font-size:3.2rem;
                opacity: 80%;
                text-transform: uppercase;
            }
            p{
                margin-top: 2rem;
                font-size: 1.6rem;
                opacity: 50%;
            }
        }
    }

    &__pair-two, &__pair-three{
        text-align: right;
        .text{
            background-color: $additional;
            color: #000;
        }
    }

    &__pair-three{
        text-align: left;
    }
}

.stories{
    &__card{
        height: 50vh;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        opacity: 95%;
        position: relative;
        .card-img{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: .8s;
            display: flex;
            .content{
                width: 100%;
                align-self: flex-end;
                color:$white;
                padding: 2rem;
                h3{
                    font-size: 3rem;
                }
                p{
                    font-size:1.6rem;
                }
                hr{
                    margin: 1.5rem 0;
                    opacity: 65%;
                }
                .arrow-box{
                    display: flex;
                    p{
                        font-weight: 700;
                    }
                    i{
                        font-size: 2rem;
                        margin-left:3rem;
                        align-self: center;
                    }
                }
            }
        }
        .card-text{
            position: absolute;
            top: 0;left: 0;bottom: 0;right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem;
            transition: .8s;
            opacity: 0;
            font-size: 1.6rem;
        }
    }
}

.boxes{
    margin: 5rem 0;
    text-align: center;
    color: $primary;
    h2{
        font-size: 3.2rem;
        text-transform: uppercase;
        padding: 0 1rem;
    }
    p{
        font-size: 1.6rem;
        padding: 0 1rem;
        margin: 2rem 0 4rem 0;
    }
    &__wrapper{
        .box{
            h3{
                font-size: 2.6rem;
            }
            i{
                font-size: 5rem;
                margin: 3rem 0;
            }
            p{
                margin: 0;
                padding: 0 2rem;
                opacity: 50%;
            }
        }
        .box-two, .box-three{
            margin-top: 5rem;
        }
    }
}

.carousel{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    position: relative;
    &__container{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        height: 70%;
        width: 80%;
        position: relative;
        overflow: hidden;
        .slide{
            opacity: 0;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            transition: 0.4s ease;
        }
        .slide.active{
            opacity: 1;

        }
        .arrow{
            position: absolute;
            color: $white;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            padding: 0.8rem;
            font-size: 2.4rem; 
            border: none;
            z-index: 2;
            cursor: pointer;
        } 
        .left-arrow{
            left: 0;
        }
        .right-arrow{
            right: 0;
        }
    }
}

.carousel::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0,0,0,0.7);
}
.trips{
    width: 100%;
    height: 50vh;
    background-color: #fff;
}
.counters{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column; 
        position: relative;
        border: 2px solid $white;
        width: 60%;
        padding: 4rem 0 3rem 0;
        margin: 1rem 0;
        i{
            position: absolute;
            top: -28%;
            z-index: 2;
            font-size: 8rem;
            color: $white;
            
        }
        .counter{
            color: $white;
            font-size: 3rem;
            padding-top:1rem;
        }
        span{
            color: $white;
            font-size: 2rem;
        }
    }
}

footer{
    background-color: #000;
    height: 30vh;
    width: 100%;
}

.text-y{
    transform: rotateY(180deg);
}
.text-x{
    transform: rotateX(180deg);
}
.stories__card:hover .card-text {
    transform: rotate(0);
    opacity: 1;
}
.stories__card:hover .img-y{
    transform: rotateY(180deg);
    opacity: 0;
}
.stories__card:hover .img-x{
    transform: rotateX(180deg);
    opacity: 0;
}

@media(min-width:768px){
    nav{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        .mobile{
            display: none;
        }
        .desktop{
            padding: 2rem 6rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .logo{
                p{
                    font-size: 3rem;
                    line-height: 8vh;
                    color: $primary;
                    padding-left: 1rem;
                    span{
                        // color: $secondary;
                        position: relative;
                    }
                }
                span::after{
                    content: '';
                    background-color: $primary;
                    position: absolute;
                    width: 60%;
                    height: 2px;
                    right: -1rem;
                    bottom: 0;
                }
            }
            .items{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4rem;
                width: 100%;
                a{
                    text-decoration: none;
                    color: $primary;
                    font-size: 2.4rem;
                }
            }
            .btn{
                display: flex;
                align-items: center;
                .nav-btn{
                    background-color: #000;
                    color: rgba($color: #fff, $alpha: 0.8);
                    padding: 1rem 3rem;
                    border: none;
                    letter-spacing:0.2rem;
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
                    .circle{
                        position: absolute;
                        background-color: #fff;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        transform: translate(-50%,-50%) scale(0);
                        animation: scale .5s ease-out;
                    }
                }
            }
        }
    }
    .first{
        &__pair{
            display: flex;
            .img{
                height: 75vh;
                width: 100%;
                order: 1;
            }
            .text{
                padding: 8rem 8rem;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    font-size: 5rem;
                }
                p{
                    font-size:2rem;
                }
            }
        }
    
        &__pair-two{
            .img{
                order: 0;
            }
            .text{
                background-color: $additional;
                color: #000;
            }
        }
        &__pair-three{
            text-align: right;
            .text{
                background-color: $additional;
                color: #000;
            }
        }
    
        &__pair-three{
            text-align: left;
        }
    }

    .stories{
        display: flex;
        &__card{
            width: 25%;
        }
    }
    .boxes{
        width: 80%;
        margin: 6rem auto;
        h2{
            font-size: 4rem;
        }
        p{
            font-size: 2rem;
        }
        &__wrapper{
            display: flex;
            margin-top: 5rem;
            .box{
                h3{
                    font-size: 3rem;
                }
                i{
                    font-size: 6rem;
                }
            }
            .box-two, .box-three{
                margin-top: 0;
            }
        }
    }

    .carousel{
        height: 80vh;
        &__container{
            width: 80%;
            height: 80%;
        }
    }
    .carousel::before{
        height: 80vh;
    }

    .counters{
        margin-top: 0;
        padding: 10rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        &__container{
            width: 20%;
            padding: 3rem;
            border: 3px solid $white;
            position: relative;
            i{
                font-size: 10rem;
                position: absolute;
                top: -33%;
            }
            .counter{
                margin-top: 3rem;
                font-size: 3rem;
            }
            span{
                margin-top: 1rem;
                font-size: 2rem;
            }
        }
    }
}